* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #0c0c0c;
  --text-color: #ffffff;
  --purple: #7c68f8;
  --yellow: #e5f868;
}
input::placeholder {
  color: var(--text-color);
  padding: 1em;
}
body {
  font-family: "San Francisco Text", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}
h2 {
  margin: 7em;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* Optional: Change cursor on hover */
}
/* style for the navigation bar*/
.oval {
  width: 70em;
  height: 20em;
  background-color: #241390;
  border-radius: 8em;
  filter: blur(550px);
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border-radius: 5em;
  border: 5px solid var(--yellow);
  overflow: hidden;
}
.profile-pic {
  width: 6em;
  height: 6em;
  object-fit: cover;
}
.navBar {
  gap: 2em;
  display: flex;
  align-items: center;
  list-style: none;
}
/*style for the main content*/
.container {
  padding: 3em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 25em;
  align-items: center;
  height: max-content;
}
.container h1 {
  margin-bottom: 2em;
}
.socials {
  display: flex;
  list-style: none;
  margin: 5em;
  justify-content: space-between;
  width: 14em;
}
/*style for the tech stack*/
.stack {
  width: 60%;
  height: 5em;
  border: 5px solid var(--purple);
  border-style: double;
  margin: 2em;
}
/*style for the main portfolio*/
.project {
  width: 60%;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 15em;
  border: 3px solid var(--yellow);
}
.project-img {
  width: 100%;
  height: 15em;
  object-fit: cover;
}
.content {
  width: 40%;
  height: 15em;
}
.PreviewBtn {
  width: 5em;
  height: 2em;
  border-style: none;
  border-radius: 7px;
  background-color: var(--yellow);
  margin: 3em;
}
.CodeBtn {
  width: 5em;
  height: 2em;
  color: aliceblue;
  background-color: var(--background-color);
  border: 2px solid var(--yellow);
  border-radius: 7px;
}
/*style for the Blog*/
.blogs {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}
.frame {
  width: 40%;
  height: 300px;
  background-color: var(--purple);
  margin-top: 10em;
  position: relative;
  left: 100px;
}
.blog {
  display: flex;
  width: 40%;
  height: 300px;
  background-color: var(--yellow);
  box-shadow: 0 0 90px black;
  margin-top: 10em;
  position: relative;
  bottom: 70px;
  right: 300px;
}
.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #0c0c0c;
}
.blog-info h4 {
  text-decoration: underline;
}
/*styling contactme page*/
.contact {
  background-color: #e5f868;
  color: #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContactForm {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  gap: 2em;
}
.ContactForm input {
  width: 50em;
  height: 3em;
  border: none;
  border-radius: 5px;
  background-color: #0c0c0c;
  color: aliceblue;
}
.ContactForm textarea {
  width: 50em;
  color: aliceblue;
  border-radius: 5px;
  border-radius: 5px;
  background-color: var(--purple);
}
.ContactForm button {
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 5px;
  background-color: #7c68f8;
}
.purple-highlight {
  color: var(--purple);
}
.yellow-highlight {
  color: var(--yellow);
}
/*style for login page*/
.login-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form {
  width: 30%;
  height: 20em;
  background-color: #0c0c0c;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 90px black;
}
.login-form input {
  border: none;
  height: 3em;
  width: 25em;
  border-radius: 2em;
  background-color: #6c7c98;
}
.login-profile {
  position: relative;
  top: 40px;
  border: 3px solid var(--yellow);
}
.loginBtn {
  width: 7em;
  height: 2em;
  border: none;
  border-radius: 5px;
  background-color: var(--yellow);
}
