* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #0c0c0c;
  --text-color: #ffffff;
  --purple: #7c68f8;
  --yellow: #e5f868;
}
body {
  font-family: "San Francisco Text", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}
h2 {
  margin: 5em;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* Optional: Change cursor on hover */
}
/* style for the navigation bar*/
.oval {
  width: 70em;
  height: 20em;
  background-color: #241390;
  filter: blur(550px);
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border-radius: 5em;
  border: 5px solid var(--yellow);
  overflow: hidden;
}
.profile-pic {
  width: 6em;
  height: 6em;
  object-fit: cover;
}
.navBar {
  gap: 2em;
  display: flex;
  align-items: center;
  list-style: none;
}
/*style for the main content*/
.container {
  padding: 3em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 25em;
  align-items: center;
  height: max-content;
}
.container h1 {
  margin-bottom: 2em;
}
.socials {
  display: flex;
  list-style: none;
  margin: 5em;
  justify-content: space-between;
  width: 14em;
}
/*style for the tech stack*/
.stack {
  width: 60%;
  height: 5em;
  margin: 2em;
  display: flex;
  justify-content: space-around;
}
/*style for the main portfolio*/
.project {
  width: 60%;
  margin-bottom: 4em;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}
.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border: 3px solid var(--yellow);
}
.project-img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.project-Btns button {
  width: 80px;
  padding: 5px;
  margin: 5px;
}
.PreviewBtn {
  border-radius: 4px;
  background-color: var(--yellow);
  border: none;
}
.CodeBtn {
  border-radius: 4px;
  background-color: var(--background-color);
  color: #ffffff;
  border: none;
  border: 2px solid var(--yellow);
}
/*style for the Blog*/
.blog {
  width: 30%;
  height: 25em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
}
.blog-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.blog-img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  border-radius: 15px;
}
/*styling contactme page*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContactForm {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  gap: 2em;
}
.ContactForm input {
  width: 40em;
  height: 3em;
  border: none;
  border-radius: 5px;
}
.ContactForm textarea {
  border-radius: 5px;
}
.ContactForm button {
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 5px;
  background-color: #7c68f8;
}
.purple-highlight {
  color: var(--purple);
}
.yellow-highlight {
  color: var(--yellow);
}
/*style for login page*/
.login-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form {
  width: 30%;
  height: 20em;
  background-color: #0c0c0c;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 90px black;
}
.login-form input {
  border: none;
  height: 3em;
  width: 25em;
  border-radius: 2em;
  background-color: #6c7c98;
}
.login-profile {
  position: relative;
  top: 40px;
  border: 3px solid var(--yellow);
}
.loginBtn {
  width: 7em;
  height: 2em;
  border: none;
  border-radius: 5px;
  background-color: var(--yellow);
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 7px;
  }
  h2 {
    margin: 3em;
  }
  .profile {
    border: 2px solid var(--yellow);
  }
  .stack {
    width: 90%;
    height: 5em;
    border: 5px solid var(--purple);
    border-style: double;
    margin: 2em;
  }
  .project {
    width: 80%;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .project-img-container {
    height: 20em;
  }
  .project-img {
    width: 100%;
    height: 20em;
    object-fit: cover;
  }
  .project-Btns button {
    margin: 15px;
    width: 70px;
  }
  .content {
    font-size: 13px;
  }
  .navBar {
    display: none;
  }
  .oval {
    width: 40em;
    height: 20em;
    background-color: #241390;
    filter: blur(80px);
    position: absolute;
    top: -80px; /* Adjust this value */
    right: 10px;
  }
  .ContactForm input {
    width: 100%;
    height: 3em;
  }
}
