* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --background-color: #0c0c0c;
  --text-color: #ffffff;
  --purple: #7c68f8;
  --yellow: #e5f868;
}
body {
  font-family: "San Francisco Text", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}
h2 {
  margin: 5em;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* style for the navigation bar*/
.oval {
  width: 70em;
  height: 20em;
  background-color: #241390;
  filter: blur(550px);
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border-radius: 5em;
  border: solid 4px transparent;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}
.profile-pic {
  width: 6em;
  height: 6em;
  object-fit: cover;
}
.navBar {
  gap: 2em;
  display: flex;
  align-items: center;
  list-style: none;
}
/*style for the main content*/
.container {
  padding: 3em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 25em;
  align-items: center;
  height: fit-content;
  margin-bottom: 300px;
}
.container h1 {
  margin-bottom: 2em;
}
.socials {
  display: flex;
  list-style: none;
  margin: 5em;
  justify-content: space-between;
  width: 25em;
}
/*style for the tech stack*/
.stack {
  width: 60%;
  height: 7em;
  margin: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 5px transparent;
  border-radius: 10px;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.stack div i {
  display: block;
  margin-bottom: 7px;
}
/*style for the main portfolio*/
.project {
  width: 60%;
  margin-bottom: 4em;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}
.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border: 3px solid var(--yellow);
}
.project-img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.project-Btns button {
  width: 80px;
  padding: 5px;
  margin: 5px;
}
.PreviewBtn {
  border-radius: 4px;
  background-color: var(--yellow);
  border: none;
}
.CodeBtn {
  border-radius: 4px;
  background-color: var(--background-color);
  color: #ffffff;
  border: none;
  border: 2px solid var(--yellow);
}
/*style for the Blog*/
.blogs {
  display: grid;
  grid-template-columns: 45% 45%;
  width: 60%;
  gap: 20px;
}
.blog {
  height: 26em;
  border-radius: 15px;
}
.blog-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.blog-img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  border-radius: 15px;
}
.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8em;
  padding: 9px;
  text-align: left;
}
.blog-Btns i {
  padding: 10px;
}
/*styling contactme page*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContactForm {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  gap: 2em;
}
.ContactForm input {
  width: 50em;
  height: 3em;
  outline: none;
  border-radius: 1em;
  color: #ffffff;
  border: solid 4px transparent;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.ContactForm textarea {
  outline: none;
  border-radius: 1em;
  color: #ffffff;
  border: solid 4px transparent;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.ContactForm button {
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 5px;
  background-color: #7c68f8;
  margin-bottom: 5em;
}
.purple-highlight {
  color: var(--purple);
}
.yellow-highlight {
  color: var(--yellow);
}
/*style for login page*/
.login-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form {
  width: 25%;
  height: 25em;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 3em;
  box-shadow: 0 0 90px black;
}
.login-form input {
  border: none;
  height: 3em;
  width: 25em;
}
.loginBtn {
  width: 7em;
  height: 2em;
  border: none;
  border-radius: 5px;
  background-color: var(--yellow);
}
#error {
  color: red;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 7px;
  }
  h1 {
    font-size: large;
  }
  h2 {
    margin: 3em;
  }
  .profile {
    border: solid 2px transparent;
  }
  .stack {
    width: 90%;
    height: 7.5em;
    border: solid 2px transparent;
  }
  .container {
    margin: 10em 0 60px 0;
  }
  .socials {
    margin: 15em 0 20em 0;
  }
  .project {
    width: 80%;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr;
  }
  .project-img-container {
    height: 20em;
  }
  .project-img {
    width: 100%;
    height: 20em;
    object-fit: cover;
  }
  .project-Btns button {
    margin: 15px;
    width: 70px;
  }
  .blogs {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 20px;
  }
  .blog {
    height: 55em;
  }
  .blog-img-container {
    height: 40em;
  }
  .blog-img {
    height: 40em;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 19px;
    text-align: left;
  }
  p,
  h4,
  h3 {
    font-size: 13px;
  }
  .navBar {
    display: none;
  }
  .oval {
    width: 40em;
    height: 20em;
    background-color: #241390;
    filter: blur(80px);
    position: absolute;
    top: -80px; /* Adjust this value */
    right: 10px;
  }
  .ContactForm input {
    width: 28em;
    height: 2em;
    outline: none;
    border-radius: 9px;
    color: #ffffff;
    border: solid 4px transparent;
    background-image: linear-gradient(black, black),
      linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .ContactForm button {
    width: 7em;
  }
}
