* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --background-color: #0c0c0c;
  --text-color: #ffffff;
  --purple: #7c68f8;
  --yellow: #e5f868;
}
body {
  font-family: "San Francisco Text", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}
h2 {
  margin: 5em;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* style for the navigation bar*/
.oval {
  width: 70em;
  height: 20em;
  background-color: #241390;
  filter: blur(550px);
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border-radius: 5em;
  border: solid 4px transparent;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}
.profile-pic {
  width: 6em;
  height: 6em;
  object-fit: cover;
}
.navBar {
  gap: 2em;
  display: flex;
  align-items: center;
  list-style: none;
}
/*style for the main content*/
.container {
  padding: 3em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 25em;
  align-items: center;
  height: fit-content;
  margin-bottom: 100px;
}
.container h1 {
  margin-bottom: 1em;
}
.socials {
  display: flex;
  list-style: none;
  margin: 5em;
  justify-content: space-between;
  width: 25em;
}
/*style for the tech stack*/
.stack {
  width: 60%;
  height: 7em;
  margin: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 5px transparent;
  border-radius: 10px;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.stack div i {
  display: block;
  margin-bottom: 7px;
}
/*style for the main portfolio*/
.project {
  width: 60%;
  margin-bottom: 4em;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}
.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border: 3px solid var(--yellow);
}
.project-img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.project-Btns button {
  width: 80px;
  padding: 5px;
  margin: 5px;
}
.PreviewBtn {
  border-radius: 4px;
  background-color: var(--yellow);
  border: none;
  color: var(--background-color);
}
.CodeBtn {
  border-radius: 4px;
  background-color: var(--background-color);
  color: #ffffff;
  border: none;
  border: 2px solid var(--yellow);
}
/*style for the Blog*/
.blogs {
  display: grid;
  grid-template-columns: 45% 45%;
  width: 60%;
  gap: 20px;
}
.blog {
  height: fit-content;
  border-radius: 15px;
}
.blog-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.blog-img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  border-radius: 15px;
}
.blog-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: left;
  padding: 11px;
}

.blog-content h4 {
  margin-bottom: 11px;
}
.blog-Btns i {
  padding: 10px;
}
.blog-Btns p {
  display: inline;
  font-size: 21px;
}
/*styling contactme page*/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContactForm {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  gap: 2em;
}
.ContactForm input {
  width: 50em;
  height: 3em;
  outline: none;
  border-radius: 1em;
  color: #ffffff;
  border: solid 4px transparent;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.ContactForm textarea {
  outline: none;
  border-radius: 1em;
  color: #ffffff;
  border: solid 4px transparent;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.ContactForm button {
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 5px;
  color: inherit;
  background-color: #7c68f8;
  margin-bottom: 5em;
}
.purple-highlight {
  color: var(--purple);
}
.yellow-highlight {
  color: var(--yellow);
}
/*style for login page*/
.login-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #241390;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.form-container {
  box-shadow: 0 22px 55px rgb(0, 0, 0, 0.3);
  width: 400px;
}
.login-form {
  background-color: #0c0c0c;
  padding: 30px 40px;
  border-radius: 15px;
}
.login-form h1 {
  margin-bottom: 2em;
  text-align: center;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  padding: 10px;
  font-size: 14px;
  width: 92%;
}
.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form-control i {
  position: absolute;
  top: 35px;
  right: 10px;
  color: #181818;
  visibility: hidden;
}
.form-control.success i.fa-circle-check {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-circle-exclamation {
  color: #e74c3c;
  visibility: visible;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.login-form button {
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 2em;
}

.back {
  position: absolute;
  top: 55px;
  left: 55px;
}
/*dashboard*/
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #7c68f8;
  width: 20%;
  height: 100vh;
}
.Dashboard {
  display: flex;
}
.navigation {
  position: fixed;
}
.dash-nav {
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dash-hover :hover {
  cursor: pointer;
  color: #e5f868;
}
.main {
  height: fit-content;
  width: 80%;
  background-color: #181818;
  position: relative;
  left: 300px;
}
.dash-head {
  width: 80%;
  background-color: #0c0c0c;
  padding: 2em;
  display: flex;
  justify-content: space-around;
  position: fixed;
}
.dash-main {
  display: grid;
  gap: 1em;
  padding-top: 2em;
  justify-content: center;
  grid-template-columns: repeat(3, 25%);
  margin-top: 100px;
}
.bars {
  display: none;
}
#blogDialog,
#updateDialog {
  background-color: var(--purple);
  color: aliceblue;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  border: none;
  top: 30%;
  left: 35%;
  padding: 15px;
}
#blogDialog::backdrop,
#updateDialog::backdrop {
  backdrop-filter: blur(5px) brightness(60%);
}
#blogForm,
#updateForm {
  display: grid;
  grid-template-columns: 90px 350px;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
#blogDialog h1,
#updateDialog h1 {
  text-align: center;
  margin-top: 15px;
}
#blogForm input,
#updateForm input {
  width: 300px;
  height: 25px;
}
#blogForm button,
#updateForm button {
  width: 90px;
  height: 20px;
  border: none;
  background-color: #e5f868;
}

.blog-Btns button {
  background: none;
  border: none;
  color: #f0f0f0;
}

.footer {
  text-align: center;
  width: 80%;
}
.comment {
  padding: 7px;
  display: flex;
  text-align: left;
}
#commentText {
  width: 200px;
  padding: 6px;
  border-radius: 7px;
  border: none;
}
.commentBtn {
  padding: 6px;
  background-color: var(--yellow);
  border: none;
  border-radius: 7px;
}
#commentForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.pic {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50px;
  background-color: wheat;
  border: solid 4px transparent;
  background-image: linear-gradient(black, black),
    linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}
.pic-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
#commentDialog::backdrop {
  backdrop-filter: blur(5px) brightness(60%);
}
#commentDialog {
  background-color: rgb(47, 45, 45);
  color: aliceblue;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  border: none;
  top: 30%;
  left: 35%;
  padding: 15px;
}
.message {
  background-color: rgb(47, 45, 45);
  padding: 15px;
  width: fit-content;
  border-radius: 10px;
  width: 300px;
}
.message p {
  font-weight: lighter;
  padding: 5px;
}
.messages {
  padding: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 70px;
}
.messagetitle {
  text-align: center;
  padding: 20px;
}
.deleteMsg {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fd1d1d;
  color: white;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 7px;
  }
  h1 {
    font-size: large;
  }
  h2 {
    margin: 3em;
  }
  .profile {
    border: solid 2px transparent;
  }
  .stack {
    width: 90%;
    height: 7.5em;
    border: solid 2px transparent;
  }
  .container {
    margin: 10em 0 60px 0;
  }
  .socials {
    margin: 15em 0 20em 0;
  }
  .project {
    width: 80%;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr;
  }
  .project-img-container {
    height: 20em;
  }
  .project-img {
    width: 100%;
    height: 20em;
    object-fit: cover;
  }
  .project-Btns button {
    margin: 15px;
    width: 70px;
  }
  .blogs {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 20px;
  }
  .blog {
    height: fit-content;
  }
  .blog-img-container {
    height: 40em;
  }
  .blog-img {
    height: 40em;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 19px;
    text-align: left;
  }
  p,
  li,
  h4,
  h3,
  label,
  small {
    font-size: 13px;
  }
  .navBar {
    display: none;
  }
  .oval {
    width: 40em;
    height: 20em;
    background-color: #241390;
    filter: blur(80px);
    position: absolute;
    top: -80px; /* Adjust this value */
    right: 10px;
  }
  .ContactForm input {
    width: 28em;
    height: 2em;
    outline: none;
    border-radius: 9px;
    color: #ffffff;
    border: solid 4px transparent;
    background-image: linear-gradient(black, black),
      linear-gradient(315deg, var(--purple), #fd1d1d 50%, #fcb045);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .ContactForm button {
    width: 7em;
  }
  .form-container {
    width: 350px;
  }
  .login-form {
    padding: 9px 20px;
  }
  .navigation {
    display: none;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .dash-head {
    width: 100%;
    padding: 2em;
  }
  .dash-main {
    display: grid;
    grid-template-columns: repeat(1, 70%);
    margin-top: 50px;
  }
  .bars {
    display: block;
  }
  #blogDialog,
  #updateDialog {
    width: 80%;
    height: 300px;
    left: 10%;
  }
  #commentDialog {
    left: 10%;
    height: 300px;
  }

  #blogForm,
  #updateForm {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 40px;
    margin-left: 35px;
  }
  #blogForm input,
  #updateForm input {
    width: 250px;
    height: 15px;
  }
  #blogForm button,
  #updateForm button {
    padding: 5px;
  }
  .comment {
    padding: 8px;
  }
  #commentText {
    width: 180px;
    padding: 4px;
    border-radius: 3px;
  }
  .commentBtn {
    padding: 4px;
    background-color: var(--yellow);
    border: none;
    border-radius: 7px;
  }

  #commentForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .pic {
    width: 30px;
    height: 30px;
    border: solid 2px transparent;
  }
  .pic-img {
    width: 30px;
    height: 30px;
  }
  .blog-Btns p {
    font-size: small;
  }
  .message {
    width: 300px;
  }
  .message p {
    padding: 3px;
  }
  .messages {
    padding: 20px;
    grid-template-columns: 300px;
    gap: 30px;
  }
  .messagetitle {
    text-align: center;
    padding: 10px;
  }
  .deleteMsg {
    padding: 2px;
  }
}
